@font-face {
  font-family: 'Quicksand Normal';
  src: url("/css/fonts/quicksand-normal/Quicksand_Book.otf");
  src: url("/css/fonts/quicksand-normal/Quicksand_Book.eot?#iefix") format("embedded-opentype"),
  url("/css/fonts/quicksand-normal/Quicksand_Book.woff2") format("woff2"),
  url("/css/fonts/quicksand-normal/Quicksand_Book.woff") format("woff"),
  url("/css/fonts/quicksand-normal/Quicksand_Book.ttf") format("truetype"),
  url("/css/fonts/quicksand-normal/Quicksand_Book.svg") format("svg");
}
@font-face {
  font-family: 'Quicksand Bold';
  src: url("/css/fonts/quicksand-bold/Quicksand_Bold.otf");
  src: url("/css/fonts/quicksand-bold/Quicksand_Bold.eot?#iefix") format("embedded-opentype"),
  url("/css/fonts/quicksand-bold/Quicksand_Bold.woff2") format("woff2"),
  url("/css/fonts/quicksand-bold/Quicksand_Bold.woff") format("woff"),
  url("/css/fonts/quicksand-bold/Quicksand_Bold.ttf") format("truetype"),
  url("/css/fonts/quicksand-bold/Quicksand_Bold.svg") format("svg");
}
@font-face {
  font-family: 'Quicksand Light';
  src: url("/css/fonts/quicksand-light/Quicksand_Light.otf");
  src: url("/css/fonts/quicksand-light/Quicksand_Light.eot?#iefix") format("embedded-opentype"),
  url("/css/fonts/quicksand-light/Quicksand_Light.woff2") format("woff2"),
  url("/css/fonts/quicksand-light/Quicksand_Light.woff") format("woff"),
  url("/css/fonts/quicksand-light/Quicksand_Light.ttf") format("truetype"),
  url("/css/fonts/quicksand-light/Quicksand_Light.svg") format("svg");
}
